@use "./variables" as *;
@use "./mixins" as *;

.features {
  background-color: $gray-700;
  padding: 4rem 1rem;

  h2 {
    font-weight: 700;
    font-size: 2rem;
    color: $white;

    @include responsive(sm) {
      font-size: 1.75rem;
    }
  }
}

.card {
  background-color: $white;
  border: 1px solid $gray-700;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba($dark, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .cardTitle {
    color: $dark;
    font-weight: bold;
  }

  .cardText {
    color: $gray-700;
  }
}
